@page "/fetchdata"
@inherits FetchDataBase

    <h1>Weather forecast for cities</h1>
    <EditForm Model="@ForecastModel">
        <p>Cities: <InputText @bind-Value="@ForecastModel.Cities"></InputText></p>
    </EditForm>

    <a class="btn btn-primary" @onclick="@RetrieveCityWeatherAsync"> Async </a>
    <a class="btn btn-primary" @onclick="@RetrieveCityWeatherParallel"> Parallel </a>
    <a class="btn btn-primary" @onclick="@RetrieveCityWeatherSequential"> Sequential </a>

    @if (CityWeatherList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <p> Execution time: <label>@ExecutionTime </label></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Temp. (C) / Temp. (F)</th>
                    <th>Precipitation</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in CityWeatherList)
                {
                    <tr>
                        <td>@forecast.City</td>
                        <td>@forecast.TemperatureC / @forecast.TemperatureF </td>
                        <td>@forecast.Precipitation</td>
                        <td>@forecast.Weather</td>
                    </tr>
                }
            </tbody>
        </table>
    }
