@page "/fetchdata"
@inherits FetchDataBase

    <section class="bg-secondary">
        <h1>Weather forecast for cities</h1>

        <p>Cities: <InputText @bind-Value="Cities" placeholder="Enter needed cities" /></p>

        <h2> Requests </h2>
        <a class="btn btn-primary" @onclick="@CollectCityWeatherInAsyncMode"> Async </a>
        <a class="btn btn-primary" @onclick="@CollectCityWeatherInParallelMode"> Parallel </a>
        <a class="btn btn-primary" @onclick="@CollectCityWeatherInSequentialMode"> Sequential </a>
               
        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <h2> Execution time: </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr>
                            <td>@forecast.Date.ToShortDateString()</td>
                            <td>@forecast.TemperatureC</td>
                            <td>@forecast.TemperatureF</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </section>